{
  "extends": ["react-app", "react-app/jest"],
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "indent": ["error", 2],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "semi": ["error", "always"],
    "import/order": [
      2,
      {
        "groups": ["external", "builtin", "index", "sibling", "parent", "internal", "type"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always-and-inside-groups"
      }
    ]
  }
}
