.error404 {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 30px;

  color: white;

  transform: translate(-50%, -50%);
}

.error404__arrow {
  cursor: pointer;

  position: relative;

  width: 80px;

  height: 50px;

  margin: 20px auto;

  left: -200px;
}

.error404__arrow div {
  position: relative;

  top: 20px;

  width: 90px;

  height: 10px;

  background-color: #ffffff;

  box-shadow: 0 3px 5px rgb(255 255 255 / 20%);

  left: 0;

  display: block;

  transform: rotate(50deg);
}

.error404__arrow div::before {
  content: '';

  position: absolute;

  width: 40px;

  height: 10px;

  top: 15px;

  right: 60px;

  background-color: #ffffff;

  box-shadow: 0 3px 5px rgb(255 255 255 / 20%);

  transform: rotate(45deg);
}

.error404__arrow div::after {
  content: '';

  position: absolute;

  width: 40px;

  height: 10px;

  top: -12px;

  right: 60px;

  background-color: #ffffff;

  transform: rotate(-45deg);
}
