.pagination {
  position: relative;

  text-align: center;

  padding-bottom: 20px;

  z-index: 10;
}
.pagination .ant-pagination-options {
  display: none;
}
.pagination__component {
  color: white;
}
.pagination__error {
  font-size: 20px;
  font-weight: 600;

  position: relative;

  margin: 0 0 30px 0;

  color: red;

  z-index: 10;
}
