.main__search {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  top: 45px;
  right: 0;

  padding: 0 85px 0 0;

  z-index: 10;
}
.main__search .button__search {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

  padding: 40px 20px 40px 20px;

  color: white;
}
.main__search div {
  margin: 0 20px 0 0;
}
.main__search div:last-child {
  margin: 0 0 0 0;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.character {
  width: 100%;

  position: absolute;

  opacity: 0;

  transition: all 0.5s;
  z-index: -1;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.main__search_button {
  position: relative;

  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;

  cursor: pointer;
  z-index: 0;
}
.main__search_button::before {
  content: '';

  width: 200%;
  height: 200%;

  position: absolute;
  left: -50%;
  top: -50%;

  background-color: transparent;
  background-repeat: no-repeat;
  background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
  background-position: 70px 30px;

  animation: rotate 15s linear infinite;
  z-index: -2;
}
.main__search_button::after {
  content: '';

  width: calc(100% - 12px);
  height: calc(100% - 12px);

  position: absolute;
  left: 6px;
  top: 6px;

  background: transparent;
  border-radius: 5px;

  z-index: -1;
}
.main__search_button:hover .character {
  opacity: 1;

  transform: translate3d(0%, -30%, 100px);
}
@keyframes opacityChange {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.main__search_button:hover a {
  font-size: 0;
}
.main__search_button:hover {
  padding: 18.5px 59px 50px 59px;
}
.main__search_button:hover::before {
  width: 0;
  height: 0;
}
.main__search_input,
.main__search_select {
  display: flex;
  flex-direction: column;
}
.input__label {
  margin: 0 0 5px 0;

  color: white;
}
.main__search input,
.main__search select {
  position: relative;

  border: 1px solid white;

  color: white;

  background-color: rgba(0, 0, 0, 0.4);

  z-index: 10;
}
.input__label {
  position: relative;

  background-color: rgba(0, 0, 0, 0.2);

  z-index: 10;
}
.select__content_option {
  color: black;
}
.main__image {
  position: absolute;
  top: 50%;
  left: 50%;

  opacity: 0.7;

  transform: translate(-50%, -50%);

  z-index: -10;
}
.hidden {
  animation: aniBack 2.5s forwards;
}
.visible {
  animation: ani 2.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aniBack {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.link__image_img {
  max-width: 80px;
}
.link__image {
  max-width: 80px;

  position: absolute;
  top: 30%;
  left: 27%;

  transform: translate(-50%, -50%);
}
