.card__outside {
  margin: 0 0 60px 0;
}
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  width: 100%;
  height: 100%;

  position: absolute;

  transition: all 0.5s;

  z-index: -1;
}
.wrapper__title {
  width: 100%;

  position: absolute;
  left: 50%;
  top: 10%;

  margin: -30px 0 0 0;
  border-radius: 12px;

  color: #fff;

  background-color: rgba(0, 0, 0, 0.4);

  transform: translate(-50%, -50%);
}
.card:hover .wrapper__title {
  opacity: 0;
}
.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: '';
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.card__inside {
  max-width: 454px;

  border-radius: 12px;

  box-shadow: 0px 4px 12px 0px #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.card__content {
  display: flex;
  justify-content: space-between;
}

.card__content-data {
  margin: 0 10px;
}

.card__data-title,
.card__ganre-title,
.card__ganre-name,
.card__data-text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  padding: 12px 0 7px 0;
  margin: 0 0 0 0;

  color: white;
}

.card__data-ganre {
  display: flex;

  padding: 0 0 7px 0;
}
.card__ganre-title,
.card__ganre-name {
  font-size: 12px;
  line-height: 15px;

  padding: 2px 4px 3px 5px;

  border: 1px solid #d9d9d9;
}
.card__ganre-name {
  margin: 0 0 0 8px;
}
.card__data-text {
  font-size: 12px;
  line-height: 22px;

  padding: 0 0 0 0;
}

.card__content-image {
  height: 281px;
}
.card__image-img {
  height: 281px;
}
.card__data-movies {
  margin: 10px 0px 20px 0px;
  color: #fff;
}
.movies__film {
  margin: 0 0 10px 0;
}
