*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #191c29;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* pagination */
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination .ant-pagination-options {
  display: none;
}
.anticon,
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination .ant-pagination-item-active:hover a,
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination .ant-pagination-item a {
  font-size: 18px;

  color: white;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination .ant-pagination-item-active:hover a {
  font-size: 0;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination .ant-pagination-item-active:hover {
  border: none;
  outline: none;
}
.MainFooter_pagination__rK0bR {
  max-width: 750px;

  padding: 0 0 0 0;
  margin: 0 auto 0 auto;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination
  .ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis,
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis {
  color: rgba(255, 255, 255, 0.6);
}
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination
  .ant-pagination-jump-prev:hover
  .ant-pagination-item-link-icon,
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination
  .ant-pagination-jump-next:hover
  .ant-pagination-item-link-icon {
  color: rgba(255, 255, 255, 0.6);
}

:where(.css-dev-only-do-not-override-txh9fw).ant-pagination .ant-pagination-item-active {
  font-weight: 400;

  border-color: transparent;
  border-radius: 50%;

  background-color: transparent;
  box-shadow: 0px 0px 91px 5px rgba(255, 255, 255, 1);
}

:where(.css-dev-only-do-not-override-txh9fw).ant-pagination
  .ant-pagination-item:not(.ant-pagination-item-active):hover {
  background-image: url('./image/ghostNumber.png');
  background-repeat: no-repeat;
  background-size: cover;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination
  .ant-pagination-item:not(.ant-pagination-item-active):hover
  a {
  font-size: 0;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination .ant-pagination-item-active a {
  font-size: 30px;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-pagination .ant-pagination-disabled {
  opacity: 0.5;
}

/* loading */
:where(.css-dev-only-do-not-override-txh9fw).ant-spin .ant-spin-dot-item {
  width: 10px;
  height: 10px;

  background-color: #fff;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
  width: 50px;
  height: 50px;

  position: relative;
  top: 110px;
  left: 0px;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-spin-nested-loading {
  position: relative;
  top: 30px;

  background-color: black;
}
:where(.css-dev-only-do-not-override-txh9fw).ant-spin-nested-loading > div > .ant-spin {
  background-color: transparent;
}
.ActorsBody_main__body__FwVPB {
  justify-content: center;
}
/* loadingAllContent */
:where(.css-dev-only-do-not-override-txh9fw).ant-spin .ant-spin-dot-spin {
  width: 50px;
  height: 50px;

  position: relative;
}
.ant-select-selection-item {
  display: none;
}
