.content {
  display: flex;

  position: relative;

  margin: 70px 0 0 0;

  z-index: 10;
}
.content__image {
  max-width: 600px;

  margin: 0 20px 0 0;
}
.content__image_img {
  max-width: 600px;
}
.content__text {
  font-size: 30px;

  color: white;

  background-color: rgba(0, 0, 0, 0.6);
}
