.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;

  font-size: 30px;

  margin: 40px 0 70px 0;

  color: white;

  z-index: 10;
}
.footer__make {
  text-align: left;

  border-radius: 15px;
  padding: 10px;

  box-shadow: 17px 5px 51px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.6);
}
