.content {
  display: flex;
  justify-content: center;
  position: relative;

  margin: 70px 0 0 0;

  z-index: 10;
}
.content__image {
  max-width: 600px;

  margin: 0 20px 0 0;
}
.content__image_img {
  max-width: 600px;
}
.content__text {
  font-size: 30px;
  text-align: left;

  border-radius: 15px;
  padding: 10px;

  color: white;

  box-shadow: 17px 5px 51px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.6);
}
